.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main {
    padding-top: 10rem;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}